body {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: ivory;
    font-family: 'Coustard', serif;
}

h1 {
    margin: 20px 5px;
    color: ivory;
    font-size: 75px;
    font-family: 'Graduate', cursive;
    letter-spacing: 0.1em;
}

form {
    margin: 40px 5px;
}

#search {
    background-color: ivory;
    font-size: 14px;
}

#submit {
    margin: 5px 5px;
    padding: 4px 8px;
    border-radius: 5px;
    background-color: ivory;
    color: black;
    font-size:12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

button {
    margin: 5px 5px;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: ivory;
    color: black;
    font-size:18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.container {
    margin: 10px 25px;
}

img {
    margin: 10px 5px;
    float: left;
}