body {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: ivory;
    font-family: 'Coustard', serif;
}

h1 {
    margin: 30px 5px 20px;
    color: ivory;
    font-size: 45px;
    font-family: 'Graduate', cursive;
    letter-spacing: 0.1em;
}

form {
    margin: 40px 5px;
    font-size: 15px;
    letter-spacing: 0.05em;
}

#search, {
    background-color: ivory;
    font-size: 14px;
}

#submit {
    margin: 5px 5px;
    padding: 4px 8px;
    border-radius: 5px;
    background-color: ivory;
    color: black;
    font-size:12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#buttons {
    margin-right: 10px;
}

button {
    margin: 5px 5px;
    padding: 6px 9px;
    border-radius: 7px;
    background-color: ivory;
    color: black;
    font-size:15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.container {
    margin: 10px 25px;
}

img {
    margin: 10px 5px;
    float: left;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    h1 {
        font-size: 50px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h1 {
        font-size: 62px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h1 {
        font-size: 75px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    h1 {
        font-size: 90px;
    }
}